<% wrap_layout :layout do %>
  <article class="post post-card post-card--first">
    <div class="card">
      <header class="card__header">
        <div class="post__header__wrapper">
          <div class="post__eyecatch" <%= "style=\"background-image: url(#{current_resource.data.image})\"" if current_resource.data.image.present? %>></div>
          <header class="post__header">
            <time class="post__published">
              <%= current_resource.date.strftime config[:date_format] %>
            </time>
            <h1 class="post__title">
              <%= current_resource.title %>
            </h1>
            <ul class="post__tags">
              <% current_resource.tags.each do |tag| %>
                <li>
                  <%= link_to tag, tag_path(tag), :class => 'post__tags__tag' %>
                </li>
              <% end %>
            </ul>
          </header>
        </div>
      </header>
      <section class="card__body">
        <div class="post__content markdown">
          <%= yield %>
        </div>
      </section>
      <footer class="card__footer">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            console.log(this.page, new Error)
            this.page.url = '<%= current_resource.url %>'
            this.page.identifier = '<%= current_resource.data.dsq_thread_id.try(:first) || current_resource.path %>'
          };
          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://wpwebegg.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })()
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </footer>
    </div>
  </article>
<% end %>
