<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= "#{current_article.title} | " unless current_article.nil? %><%= config[:meta][:sitename] %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= partial 'partials/google_font' %>
    <%= partial 'partials/disqus' %>
    <%= partial 'partials/fontawesome' %>

    <%= stylesheet_link_tag 'all', 'highlighting' %>
    <%= yield_content :stylesheets %>
  </head>
  <body>
    <%= yield_content :body_opened %>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-xl-10">
          <%= partial 'partials/navbar' %>

          <div role="main">
            <div class="row">
              <div class="col-sm-9">
                <%= yield %>
              </div>
              <div class="col-sm-3 sidebar">
                <div class="card">
                  <header class="card__header">
                    <h2>Recent Articles</h2>
                  </header>
                  <section class="card__body">
                    <aside>
                      <ol>
                        <% blog.articles[0...10].each do |article| %>
                          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
                        <% end %>
                      </ol>
                    </aside>
                  </section>
                </div>
                <div class="card">
                  <header class="card__header">
                    <h2>Tags</h2>
                  </header>
                  <section class="card__body">
                    <aside>
                      <% tags = blog.tags.sort_by{|tag, articles| articles.size}.reverse %>
                      <ul class="post__tags">
                        <% tags.first(20).each do |tag, articles| %>
                          <li>
                            <%= link_to "#{tag} (#{articles.size})", tag_path(tag), :class => 'post__tags__tag' %>
                          </li>
                        <% end %>
                      </ul>
                      <details>
                        <summary class="summary__title">Show all tags</summary>
                        <ul class="post__tags">
                          <% tags.slice(20..-1).each do |tag, articles| %>
                            <li>
                              <%= link_to "#{tag} (#{articles.size})", tag_path(tag), :class => 'post__tags__tag' %>
                            </li>
                          <% end %>
                        </ul>
                      </details>
                    </aside>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= partial 'partials/footer' %>
    <%= yield_content :scripts %>
  </body>
</html>
