<article class="post post-card post-card--first">
  <div class="card">
    <header class="card__header">
      <%= partial 'partials/article/header', locals: { article: article } %>
    </header>
    <section class="card__body">
      <div class="post__content markdown">
        <%= current_resource.summary %>

        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7627436148097691"
             data-ad-slot="5524834567"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <%= current_resource.body.remove(current_resource.summary) %>
      </div>
    </section>
    <footer class="card__footer">
      <%= partial 'partials/share', locals: { post: current_resource } %>
      <%= partial 'partials/related_post', locals: { post: current_resource } %>

      <h3>問題を報告する</h3>
      <p>
        このサイトはGithubのリポジトリを公開しています。<br>
        もし問題などがありましたらIssueにてご報告いただけますと幸いです。<br>
        <%= link_to 'Leko/WEB-EGG', 'https://github.com/Leko/WEB-EGG', target: '_blank' %>
      </p>

      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-7627436148097691"
           data-ad-slot="3077393762"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </footer>
  </div>
</article>
