<aside class="share">
  <div class="row justify-content-center share__list">
    <div class="col-lg-2">
      <div class="share__list__item">
        <%= partial 'partials/share/twitter', locals: { post: current_resource } %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="share__list__item">
        <%= partial 'partials/share/facebook', locals: { post: current_resource } %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="share__list__item">
        <%= partial 'partials/share/hatena_bookmark', locals: { post: current_resource } %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="share__list__item">
        <%= partial 'partials/share/pocket', locals: { post: current_resource } %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="share__list__item">
        <%= partial 'partials/share/line', locals: { post: current_resource } %>
      </div>
    </div>
  </div>
</aside>
