---
pageable: true
per_page: 10
---

<% page_articles.each_with_index do |article, i| %>
  <article class="post post-card post-card--first">
    <div class="card">
      <header class="card__header">
        <div class="post__header__wrapper">
          <div class="post__eyecatch" <%= "style=\"background-image: url(#{article.data.image})\"" if article.data.image.present? %>></div>
          <header class="post__header">
            <time class="post__published">
              <%= article.date.strftime config[:date_format] %>
            </time>
            <h1 class="post__title">
              <%= link_to article.title, article, :class => 'post__title__link' %>
            </h1>
            <ul class="post__tags">
              <% article.tags.each do |tag| %>
                <li>
                  <%= link_to tag, tag_path(tag), :class => 'post__tags__tag' %>
                </li>
              <% end %>
            </ul>
          </header>
        </div>
      </header>
      <section class="card__body">
        <div class="post__content markdown">
          <%= article.summary %>
        </div>
      </section>
      <footer class="card__footer">
        <%= link_to 'Continue Reading...', article, :class => 'post-card__readmore' %>
      </footer>
    </div>
  </article>
<% end %>

<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
